<a href="https://colab.research.google.com/github/AlhanoufIB/IT326Project/blob/main/Reports/Phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Phase1**

The goal of this project is to classify loan applicants into high or low credit risk categories with greater accuracy and fairness.  By finding patterns in applicant characteristics and clustering individuals with similar financial profiles, we aim to help financial institutions reduce risk while promoting fairer access to credit for applicants.


**Dataset**


German credit risk dataset
URL: https://www.kaggle.com/datasets/kabure/german-credit-data-with-risk

`we read the dataset and imported pandas so that we could reach our data`

In [12]:
import pandas as pd

df = pd.read_csv("/content/german_credit_data.csv")

### Dataset Description

- **Number of records (instances):** 1000  
- **Number of attributes (columns):** 11  
- **Class Lable**: Risk
- **Data types of attributes:**  
  - `int64`: 5 attributes  
  - `object`: 6 attributes  
  

**Brief note:**  
This dataset contains 1000 rows and 11 columns.  
It includes 5 numerical attributes (int64) and 6 categorical/text attributes (object).  
The numerical features represent measurable values, while the categorical features represent descriptive information.

`this code prints the first 5 rows so that it gives you a sample of our dataset`

In [30]:
print("    sample of our raw dataset:")
df.head()        #gives you the first 5 rows

    sample of our raw dataset:

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

`we created a Dataframe including all colums and thier datatype then printed`

In [14]:
attribute_info=pd.DataFrame(
    {
        'attributeName':df.columns,
        'dataType':df.dtypes.values
    }
)
print("\nAttribute information:\n")
print(attribute_info)

Attribute information:

       attributeName dataType
0         Unnamed: 0    int64
1                Age    int64
2                Sex   object
3                Job    int64
4            Housing   object
5    Saving accounts   object
6   Checking account   object
7      Credit amount    int64
8           Duration    int64
9            Purpose   object
10              Risk   object

`this code gives you the number of rows and columns(len) `

In [22]:
print(f"Number of attributes:  {len(df.columns)}")
print(f"Number of Objects:  {len(df)}")

Number of attributes:  11
Number of Recordes:  1000



`here we specifed our class lable (attribute) and showed its Values, since it was binary it showd 2 values :good and bad.`

In [26]:
class_attribute='Risk'
print("The class lable is:",class_attribute)
print("The class lable Values:",df[class_attribute].unique())

The class lable is: Risk
The class lable Values ['good' 'bad']

`in this code we counted the number of instances for each lable in  'Risk'(value.counts) then printed it `

In [27]:
print("Number of customers in each Risk category:")
risk_counts = df['Risk'].value_counts()
print(risk_counts)

Number of customers in each Risk category:
Risk
good    700
bad     300
Name: count, dtype: int64

**This section examines the distribution of the target variable we aim to predict: the Risk column.**

# ***Results:***
*   The number of customers categorized as **"Good"** credit risk: **700**
*   The number of customers categorized as **"Bad"** credit risk: **300**
## ***Is the dataset balanced?***
*  The dataset is not perfectly balanced, nor is it severely imbalanced
It exhibits a moderate bias towards the **Good** class with a 70/30 distribution.